USE [QLKNL]
GO
/****** Object:  StoredProcedure [dbo].[SP_TOP5DU]    Script Date: 2/9/2023 4:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TOP5DU]
       @TUNGAY DATETIME, @DENNGAY DATETIME
AS
BEGIN
	SELECT DU.MADU, TENDU, DABAN
    FROM (SELECT top 3 MADU, SUM(SOLUONG) AS DABAN FROM CTHD, PHIEUXUAT
          WHERE CTHD.MAPX = PHIEUXUAT.MAPX AND PHIEUXUAT.NGAYXUAT >= @TUNGAY AND PHIEUXUAT.NGAYXUAT <= @DENNGAY
          GROUP BY MADU
          ORDER BY DABAN DESC) TEMP, DOUONG DU
    WHERE TEMP.MADU = DU.MADU
END
GO
