USE [QLKNL]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CTDU]    Script Date: 2/9/2023 4:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_CTDU]
 @CT TYPE_CTDU READONLY
AS
BEGIN
	MERGE INTO CT_DOUONG AS Target
	USING (SELECT MADU, MANL, SOLUONG FROM @CT) AS Source
	ON Target.MADU = Source.MADU AND Target.MANL = Source.MANL
	WHEN MATCHED THEN 
		UPDATE SET Target.SOLUONG = Source.SOLUONG

	WHEN NOT MATCHED THEN
		INSERT(MADU, MANL, SOLUONG)
		VALUES(Source.MADU, Source.MANL, Source.SOLUONG);
END
GO
