USE [QLKNL]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CTHD]    Script Date: 2/9/2023 4:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_CTHD]
 @CT TYPE_CTHD READONLY
AS
BEGIN
	INSERT INTO CTHD SELECT [MAPX], [MADU], [SOLUONG], [DONGIA] FROM @CT
END
GO
