USE [QLKNL]
GO
/****** Object:  StoredProcedure [dbo].[SP_TONGNHAPNL]    Script Date: 2/9/2023 4:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONGNHAPNL]
       @TUNGAY DATETIME, @DENNGAY DATETIME
AS
BEGIN
	   

	SELECT NL.MANL, TENNL, SUM(SOLUONG) AS SLN
	FROM (SELECT MAPN FROM PHIEUNHAP WHERE NGAYNHAP >= @TUNGAY AND NGAYNHAP <= @DENNGAY) PN,CTPN, NGUYENLIEU NL
	WHERE PN.MAPN = CTPN.MAPN AND CTPN.MANL = NL.MANL
	GROUP BY NL.MANL, TENNL
	ORDER BY NL.MANL
END
GO
