USE [QLKNL]
GO
/****** Object:  StoredProcedure [dbo].[SP_TONGXUATNL]    Script Date: 2/9/2023 4:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONGXUATNL]
       @TUNGAY DATETIME, @DENNGAY DATETIME
AS
BEGIN
	   

	SELECT NL.MANL, TENNL, SUM(SOLUONG) AS SLX
	FROM (SELECT MAPX FROM PHIEUXUAT WHERE NGAYXUAT >= @TUNGAY AND NGAYXUAT <= @DENNGAY) PX,CTPX, NGUYENLIEU NL
	WHERE PX.MAPX = CTPX.MAPX AND CTPX.MANL = NL.MANL
	GROUP BY NL.MANL, TENNL
	ORDER BY NL.MANL
END
GO
