USE [QLKNL]
GO
/****** Object:  StoredProcedure [dbo].[SP_TONGTIENNHAP]    Script Date: 2/9/2023 4:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONGTIENNHAP]
       @TUNGAY DATETIME, @DENNGAY DATETIME
AS
BEGIN
	   

	SELECT PN.MAPN, SUM(SOLUONG*DONGIA) AS THANHTIEN
	FROM (SELECT MAPN FROM PHIEUNHAP WHERE NGAYNHAP >= @TUNGAY AND NGAYNHAP <= @DENNGAY) PN,CTPN
	WHERE PN.MAPN = CTPN.MAPN
	GROUP BY PN.MAPN
	ORDER BY PN.MAPN
END
GO
