USE [QLKNL]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_SLT]    Script Date: 2/9/2023 4:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_SLT]
 @CT TYPE_CTXNL READONLY
AS
BEGIN
DECLARE @SLC INT
SELECT NL.MANL, (NL.SLT - SRC.SOLUONG) AS SOLUONGCON
FROM (SELECT MANL, SOLUONG FROM @CT) SRC, NGUYENLIEU NL
WHERE SRC.MANL = NL.MANL
END
GO
