USE [QLKNL]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CTPH]    Script Date: 2/9/2023 4:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_CTPH]
 @CT TYPE_CTXNL READONLY
AS
BEGIN
	INSERT INTO CTPH SELECT [MA], [MANL], [SOLUONG] FROM @CT
	MERGE INTO NGUYENLIEU AS Target
	USING (SELECT MANL, SOLUONG FROM @CT) AS Source
	ON Target.MANL = Source.MANL
	WHEN MATCHED THEN 
		UPDATE SET Target.SLT -= Source.SOLUONG;
END
GO
