USE [master]
GO
/****** Object:  Database [QLKNL]    Script Date: 2/9/2023 5:00:05 PM ******/
CREATE DATABASE [QLKNL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKNL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLKNL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKNL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLKNL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKNL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKNL]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_CTDU]    Script Date: 2/9/2023 5:00:06 PM ******/
CREATE TYPE [dbo].[TYPE_CTDU] AS TABLE(
	[MADU] [nchar](5) NULL,
	[MANL] [nchar](6) NULL,
	[SOLUONG] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_CTHD]    Script Date: 2/9/2023 5:00:06 PM ******/
CREATE TYPE [dbo].[TYPE_CTHD] AS TABLE(
	[MAPX] [nchar](22) NULL,
	[MADU] [nchar](5) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_CTPN]    Script Date: 2/9/2023 5:00:06 PM ******/
CREATE TYPE [dbo].[TYPE_CTPN] AS TABLE(
	[MAPN] [nchar](22) NULL,
	[MANL] [nchar](6) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_CTXNL]    Script Date: 2/9/2023 5:00:06 PM ******/
CREATE TYPE [dbo].[TYPE_CTXNL] AS TABLE(
	[MA] [nchar](22) NULL,
	[MANL] [nchar](6) NULL,
	[SOLUONG] [int] NULL
)
GO
/****** Object:  Table [dbo].[CT_DOUONG]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DOUONG](
	[MADU] [nchar](5) NOT NULL,
	[MANL] [nchar](6) NOT NULL,
	[SOLUONG] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAPX] [nchar](22) NOT NULL,
	[MADU] [nchar](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPH]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPH](
	[MAPH] [nchar](22) NOT NULL,
	[MANL] [nchar](6) NOT NULL,
	[SOLUONG] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](22) NOT NULL,
	[MANL] [nchar](6) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](22) NOT NULL,
	[MANL] [nchar](6) NOT NULL,
	[SOLUONG] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADM] [nchar](5) NOT NULL,
	[TENDM] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_DANHMUC] PRIMARY KEY CLUSTERED 
(
	[MADM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOUONG]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOUONG](
	[MADU] [nchar](5) NOT NULL,
	[MADM] [nchar](5) NOT NULL,
	[TENDU] [nvarchar](30) NOT NULL,
	[ANH] [nchar](30) NOT NULL,
	[TTXOA] [int] NOT NULL,
	[GIATIEN] [int] NOT NULL,
	[GIASALE] [nchar](6) NULL,
 CONSTRAINT [PK_DOUONG] PRIMARY KEY CLUSTERED 
(
	[MADU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSTAIKHOAN]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSTAIKHOAN](
	[USERNAME] [nchar](10) NOT NULL,
	[FULLNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nchar](10) NOT NULL,
	[CHUCVU] [nchar](10) NOT NULL,
	[TTXOA] [int] NOT NULL,
 CONSTRAINT [PK_DSTAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANL] [nchar](6) NOT NULL,
	[TENNL] [nchar](50) NOT NULL,
	[DVT] [nchar](6) NOT NULL,
	[SLT] [int] NOT NULL,
 CONSTRAINT [PK_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUHUYNL]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUHUYNL](
	[MAPH] [nchar](22) NOT NULL,
	[NGAYHUY] [datetime] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUHUYNL] PRIMARY KEY CLUSTERED 
(
	[MAPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](22) NOT NULL,
	[NGAYNHAP] [datetime] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [nchar](22) NOT NULL,
	[NGAYXUAT] [datetime] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DOUONG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DOUONG_DOUONG] FOREIGN KEY([MADU])
REFERENCES [dbo].[DOUONG] ([MADU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DOUONG] CHECK CONSTRAINT [FK_CT_DOUONG_DOUONG]
GO
ALTER TABLE [dbo].[CT_DOUONG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DOUONG_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DOUONG] CHECK CONSTRAINT [FK_CT_DOUONG_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_DOUONG] FOREIGN KEY([MADU])
REFERENCES [dbo].[DOUONG] ([MADU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_DOUONG]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_PHIEUXUAT] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_PHIEUXUAT]
GO
ALTER TABLE [dbo].[CTPH]  WITH CHECK ADD  CONSTRAINT [FK_CTPH_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPH] CHECK CONSTRAINT [FK_CTPH_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CTPH]  WITH CHECK ADD  CONSTRAINT [FK_CTPH_PHIEUHUYNL] FOREIGN KEY([MAPH])
REFERENCES [dbo].[PHIEUHUYNL] ([MAPH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPH] CHECK CONSTRAINT [FK_CTPH_PHIEUHUYNL]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_PHIEUXUAT1] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_PHIEUXUAT1]
GO
ALTER TABLE [dbo].[DOUONG]  WITH CHECK ADD  CONSTRAINT [FK_DOUONG_DANHMUC] FOREIGN KEY([MADM])
REFERENCES [dbo].[DANHMUC] ([MADM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DOUONG] CHECK CONSTRAINT [FK_DOUONG_DANHMUC]
GO
ALTER TABLE [dbo].[PHIEUHUYNL]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUHUYNL_DSTAIKHOAN] FOREIGN KEY([MANV])
REFERENCES [dbo].[DSTAIKHOAN] ([USERNAME])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUHUYNL] CHECK CONSTRAINT [FK_PHIEUHUYNL_DSTAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_DSTAIKHOAN] FOREIGN KEY([MANV])
REFERENCES [dbo].[DSTAIKHOAN] ([USERNAME])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_DSTAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_DSTAIKHOAN] FOREIGN KEY([MANV])
REFERENCES [dbo].[DSTAIKHOAN] ([USERNAME])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_DSTAIKHOAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_SLT]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_SLT]
 @CT TYPE_CTXNL READONLY
AS
BEGIN
DECLARE @SLC INT
SELECT NL.MANL, (NL.SLT - SRC.SOLUONG) AS SOLUONGCON
FROM (SELECT MANL, SOLUONG FROM @CT) SRC, NGUYENLIEU NL
WHERE SRC.MANL = NL.MANL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CTHD]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_CTHD]
 @CT TYPE_CTHD READONLY
AS
BEGIN
	INSERT INTO CTHD SELECT [MAPX], [MADU], [SOLUONG], [DONGIA] FROM @CT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CTPH]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_CTPH]
 @CT TYPE_CTXNL READONLY
AS
BEGIN
	INSERT INTO CTPH SELECT [MA], [MANL], [SOLUONG] FROM @CT
	MERGE INTO NGUYENLIEU AS Target
	USING (SELECT MANL, SOLUONG FROM @CT) AS Source
	ON Target.MANL = Source.MANL
	WHEN MATCHED THEN 
		UPDATE SET Target.SLT -= Source.SOLUONG;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CTPN]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_CTPN]
 @CT TYPE_CTPN READONLY
AS
BEGIN
	INSERT INTO CTPN SELECT [MAPN], [MANL], [SOLUONG], [DONGIA] FROM @CT
	MERGE INTO NGUYENLIEU AS Target
	USING (SELECT MANL, SOLUONG FROM @CT) AS Source
	ON Target.MANL = Source.MANL
	WHEN MATCHED THEN 
		UPDATE SET Target.SLT += Source.SOLUONG;
END


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CTPX]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_CTPX]
 @CT TYPE_CTXNL READONLY
AS
BEGIN
	INSERT INTO CTPX SELECT [MA], [MANL], [SOLUONG] FROM @CT
	MERGE INTO NGUYENLIEU AS Target
	USING (SELECT MANL, SOLUONG FROM @CT) AS Source
	ON Target.MANL = Source.MANL
	WHEN MATCHED THEN
	   UPDATE SET Target.SLT -= Source.SOLUONG;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TONGHUYNL]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONGHUYNL]
       @TUNGAY DATETIME, @DENNGAY DATETIME
AS
BEGIN
	   

	SELECT NL.MANL, TENNL, SUM(SOLUONG) AS SLH
	FROM (SELECT MAPH FROM PHIEUHUYNL WHERE NGAYHUY >= @TUNGAY AND NGAYHUY <= @DENNGAY) PH,CTPH, NGUYENLIEU NL
	WHERE PH.MAPH = CTPH.MAPH AND CTPH.MANL = NL.MANL
	GROUP BY NL.MANL, TENNL
	ORDER BY NL.MANL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TONGNHAPNL]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONGNHAPNL]
       @TUNGAY DATETIME, @DENNGAY DATETIME
AS
BEGIN
	   

	SELECT NL.MANL, TENNL, SUM(SOLUONG) AS SLN
	FROM (SELECT MAPN FROM PHIEUNHAP WHERE NGAYNHAP >= @TUNGAY AND NGAYNHAP <= @DENNGAY) PN,CTPN, NGUYENLIEU NL
	WHERE PN.MAPN = CTPN.MAPN AND CTPN.MANL = NL.MANL
	GROUP BY NL.MANL, TENNL
	ORDER BY NL.MANL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TONGTIENBAN]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONGTIENBAN]
       @TUNGAY DATETIME, @DENNGAY DATETIME
AS
BEGIN
	   

	SELECT PX.MAPX, SUM(SOLUONG*DONGIA) AS THANHTIEN
	FROM (SELECT MAPX FROM PHIEUXUAT WHERE NGAYXUAT >= @TUNGAY AND NGAYXUAT <= @DENNGAY) PX,CTHD
	WHERE PX.MAPX = CTHD.MAPX
	GROUP BY PX.MAPX
	ORDER BY PX.MAPX
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TONGTIENNHAP]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONGTIENNHAP]
       @TUNGAY DATETIME, @DENNGAY DATETIME
AS
BEGIN
	   

	SELECT PN.MAPN, SUM(SOLUONG*DONGIA) AS THANHTIEN
	FROM (SELECT MAPN FROM PHIEUNHAP WHERE NGAYNHAP >= @TUNGAY AND NGAYNHAP <= @DENNGAY) PN,CTPN
	WHERE PN.MAPN = CTPN.MAPN
	GROUP BY PN.MAPN
	ORDER BY PN.MAPN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TONGXUATNL]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TONGXUATNL]
       @TUNGAY DATETIME, @DENNGAY DATETIME
AS
BEGIN
	   

	SELECT NL.MANL, TENNL, SUM(SOLUONG) AS SLX
	FROM (SELECT MAPX FROM PHIEUXUAT WHERE NGAYXUAT >= @TUNGAY AND NGAYXUAT <= @DENNGAY) PX,CTPX, NGUYENLIEU NL
	WHERE PX.MAPX = CTPX.MAPX AND CTPX.MANL = NL.MANL
	GROUP BY NL.MANL, TENNL
	ORDER BY NL.MANL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOP5DU]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TOP5DU]
       @TUNGAY DATETIME, @DENNGAY DATETIME
AS
BEGIN
	SELECT DU.MADU, TENDU, DABAN
    FROM (SELECT top 3 MADU, SUM(SOLUONG) AS DABAN FROM CTHD, PHIEUXUAT
          WHERE CTHD.MAPX = PHIEUXUAT.MAPX AND PHIEUXUAT.NGAYXUAT >= @TUNGAY AND PHIEUXUAT.NGAYXUAT <= @DENNGAY
          GROUP BY MADU
          ORDER BY DABAN DESC) TEMP, DOUONG DU
    WHERE TEMP.MADU = DU.MADU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CTDU]    Script Date: 2/9/2023 5:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_CTDU]
 @CT TYPE_CTDU READONLY
AS
BEGIN
	MERGE INTO CT_DOUONG AS Target
	USING (SELECT MADU, MANL, SOLUONG FROM @CT) AS Source
	ON Target.MADU = Source.MADU AND Target.MANL = Source.MANL
	WHEN MATCHED THEN 
		UPDATE SET Target.SOLUONG = Source.SOLUONG

	WHEN NOT MATCHED THEN
		INSERT(MADU, MANL, SOLUONG)
		VALUES(Source.MADU, Source.MANL, Source.SOLUONG);
END
GO
USE [master]
GO
